*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.seccion{
    text-align: center;
    background: fixed;
    height: 100vh;
    padding: 0.1px;
}

.seccion h2{
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 90px;
}

.seccion a{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    width: 221px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #a18cd1;
    padding: 7px 0;
}

.seccion:nth-child(1){
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.seccion:nth-child(2){
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.seccion:nth-child(3){
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}